[[source]]

url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"


[packages]

flask = "==1.0.2"
gunicorn = "==19.8.1"


[dev-packages]

pylint = "==2.0.0"
coverage = "==4.5.1"
codecov = "==2.0.15"
tox = "==3.0.0"


[requires]

python_version = "3.6"
